{% extends "template.html" %}
{% block conteudo %}
<table class="table table-striped table-responsive table-bordered">
    <thead class="thead-default">
        <tr>
            <th>Nome</th>
            <th>Categoria</th>
            <th>Console</th>
        </tr>
    </thead>
    <tbody>

        <!-- Em Python, o for each é feito dessa forma: -->
        {% for jogo in jogos %}
        <tr>
            <td>{{ jogo.nome }}</td>
            <td>{{ jogo.categoria }}</td>
            <td>{{ jogo.console }}</td>
        </tr>
        {% endfor %}

    </tbody>
    {% endblock %}